@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
   font-family: "Outfit", sans-serif;
}

.chat-container {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.chat-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}